
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
<!-- Font Awesome -->
<link rel="stylesheet"
      href="~/Client/plugins/fontawesome-free/css/all.min.css" />
<!-- DataTables -->
<link rel="stylesheet"
      href="~/Client/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
      href="~/Client/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet"
      href="~/Client/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="~/Client/dist/css/adminlte.min.css" />
@model IEnumerable<Product>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<p>
    <a class="ml-3 mt-5 btn btn-outline-danger" asp-action="Create">Create New<i class="fa-plus"></i></a>
</p>
<div class="ml-3">
    @using (Html.BeginForm("Search", "Products", FormMethod.Post))
    {
        @Html.TextBox("name")
        <button type="submit" class="btn_search mt-3">
            <span>
                <i class="fa-solid fa-search text-danger"></i>
            </span>
        </button>
    }
</div>
@{
    <h1>@ViewBag.Null</h1>

}

<table class="table table-bordered table-hover super_container mt-3 " id="example1">
    <thead>
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        var stt = 1;

    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @stt
            </td>
            <td>
               @if (item.Price * item.AvailableQuantity > 1000000)
               {
                   <p class="text-danger">@item.Name</p>
               }
               else
               {
                   <p>@item.Name</p>
               }
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            @if (item.Status == 1)
            {
                <td>
                    Còn Hàng
                </td>
            }
            else
            {
                <td>
                    Hết Hàng
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Image)" alt="Product Image" width="70" />
            </td>
            <td>
                <a class="btn btn-secondary" href='@Url.Action("Edit", "Products", new { id = item.Id })'>
                    <span>EDIT<i class="fa-edit"></i></span>
                </a>
                <a class="btn btn-primary" href='@Url.Action("Details", "Products", new { id = item.Id })'>
                    <span>DETAILS<i class="fa-eye"></i></span>
                </a>
                <a class="btn btn-danger" href='@Url.Action("Delete", "Products", new { id = item.Id })'>
                    <span>REMOVE<i class="fa-remove"></i></span>
                </a>
            </td>
        </tr>
        stt++;
    }
    </tbody>
</table>

<script src="~/Client/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Client/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/Client/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Client/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Client/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Client/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Client/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Client/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Client/plugins/jszip/jszip.min.js"></script>
<script src="~/Client/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Client/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Client/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Client/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Client/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Client/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Client/dist/js/demo.js"></script>
<!-- Page specific script -->
