@using ASM.IServices
@using ASM.Services
@model ASM.Models.Bill
@{
    IProductServices _productServices = new ProductServices();
    IBillDetailsServices _billDetailsServices = new BillDetailsService();
    int stt = 1;
    decimal tol = 0;
    int quantity = 0;
}

<table class="table border-0">
    <thead>
        <tr>
            <th class="text-danger">STT</th>
            <th class="text-danger">Product Name</th>
            <th class="text-danger">Quantity</th>
            <th class="text-danger">Price</th>
        </tr>
    </thead>
    <tbody id="billDetailsTableBody">
        @{
            var listilldetails = _billDetailsServices.GetAllBillDetails().Where(p => p.IdHD == Model.Id).ToList();
        }
        @foreach (var item in listilldetails)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    <a href='@Url.Action("ProductDetails", "Home", new { id = item.IdSp })'>@_productServices.GetProductById(item.IdSp).Name</a>
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    $ @_productServices.GetProductById(item.IdSp).Price
                </td>
            </tr>
            tol += item.Quantity * _productServices.GetProductById(item.IdSp).Price;
            quantity += item.Quantity;
            stt++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th class="text-dark mt-2"><h3>Final:</h3></th>
            <th class="text-dark mt-2"><h3></h3></th>
            <th class="text-dark mt-2"><h3>@quantity (Product) </h3></th>
            <th class="text-dark mt-2"><h3>$ @tol</h3></th>
        </tr>
    </tfoot>
</table>