@using ASM.IServices
@using ASM.Services
@model Product 
@{
    IProductServices _productServices = new ProductServices();
    var listProduct = _productServices.GetAllProducts();

}
<link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/single_responsive.css">

<div class="container single_product_container mt-5">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                <li>
                                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="Product Image"/>
                                </li>
                                <li class="active">
                                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="Product Image"/>
                                </li>
                                <li>
                                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="Product Image"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background">
                                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="Product Image"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                <div class="original_price">$1000</div>
                <div class="product_price">$@Model.Price</div>
                <ul class="star_rating">
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                </ul>
                <div class="product_color">
                    <span>Select Color:</span>
                    <ul>
                        <li style="background: #e54e5d"></li>
                        <li style="background: #252525"></li>
                        <li style="background: #60b3f3"></li>
                    </ul>
                </div>
                @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                {
                    <label class=""> Quantity : </label>
                    <input type="number" class="form-control" value="1" name="Quantity">
                    <input class="form-control" type="hidden" name="productId" value="@Model.Id"/>
                    <button type="submit" class="text-uppercase mt-3 btn btn-danger">add to cart</button>
                }
            </div>
        </div>
    </div>
</div>
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">More Products</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Employer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="#">Quantity</a>
                                </td>
                                <td>@Model.AvailableQuantity</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Supplier</a>
                                </td>
                                <td>@Model.Supplier</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Status</a>
                                </td>
                                @if (Model.Status == 1)
                                {
                                    <td>Vẫn còn được bán</td>
                                }
                                else
                                {
                                    <td>Ngừng cung cấp</td>
                                }
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Style</a>
                                </td>
                                <td>@Model.Style</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        @foreach (var item in listProduct)
                        {
                            if (item.Style == Model.Style && item.Id != Model.Id)
                            {
                                <div class="product-item mt-5 @item.Style">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <a href='@Url.Action("ProductDetails", "Home", new { id = item.Id })'>
                                                <img src="data:image/png;base64,@Convert.ToBase64String(item.Image)" alt="Product Image" width="70"/>
                                            </a>
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>-$20</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name">
                                                <a href='@Url.Action("ProductDetails", "Home", new { id = item.Id })'>@item.Name</a>
                                            </h6>
                                            <div class="product_price">$@item.Price<span>$500</span></div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button">
                                        <a href="#">add to cart</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/ViewForUser/js/single_custom.js"></script>